.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.header-title {
  flex: 1;
  text-align: center;
  font-family: "Arial", sans-serif;
  font-weight: bold;
  color: #3c3633;
}
.header-container h1 {
  margin: 0;
}
.table {
  background-color: #ffffff;
}
.table thead th {
  background-color: #747264;
  color: #ffffff;
  border-color: #454d55;
  text-align: center;
}
.vote-information {
  background-color: #e0ccbe;
  text-align: center;
  border: 1px solid #ccc;
}
.vote-description {
  padding: 15px 20px;
  background-color: #eeedeb;
  margin: 0;
  font-style: italic;
  color: #5a5349;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  border-top: none;
}
.create-vote-btn {
  background-color: #51829b;
  border-color: #51829b;
  color: #ffffff;
}
.btn-info {
  background-color: #51829b;
  border-color: #51829b;
  color: #ffffff;
}
.btn-warning {
  background-color: #b67352;
  border-color: #b67352;
  color: #ffffff;
}
.btn-danger {
  background-color: #c63f3f;
  border-color: #c63f3f;
  color: #ffffff;
}

.vote-json {
  text-align: left;
}
